<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/edit.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>Trending || <%= title %> </title>
</head>

<body>
    <%- include('../partials/_nav') %>


    <main>
        <h1>Edit Item</h1>

        <form class="edit-product-form" action="/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form">

            <div>
                <!-- <label for="category">Category:</label><br />  -->
                <input type="text" id="category" name="category" value="<%= product.category %>" maxlength="60" size="60" placeholder="Category"/>
            </div>

            <div>
                <!-- <label for="name">Name:</label><br /> -->
                <input type="text" id="name" name="name" value="<%= product.name %>" maxlength="60" size="60" placeholder="Item"/>
            </div>

            <div>
                <!-- <label for="description">Description:</label><br /> -->
                <textarea name="description" id="description" cols="58" rows="10" placeholder="Description"><%= product.description %></textarea>
            </div>

            <div>
<<<<<<< HEAD
                <!-- <label for="image">Image:</label><br /> -->
                <input type="file" name="image" />
            </div>
=======
                <label for="image">DON'T TOUCH</label><br />
                <input type="file" name="image" />
            </div>
            <br />
>>>>>>> submaster

            <input type="submit" value="Update Item">
            
        </form>
    </main>

<%- include('../partials/_footer') %>